
html {
    background-color: #e9f2ea;
}

body {
  margin: 0;
}

header {
  
    nav {  
      top: 0%;
    position: absolute; 
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
          }
          
          li, img {
            float: right;
          }
          
          li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          li a:hover:not(.active) {
            background-color: #d0ddaa;
          }
          
          .active {
            background-color: #4EB1BA;
          }

          img {
            width: 5%;
            height: 5%;
            padding-right: 14px;
            padding-top: 5px;
          }
    }
}

main {
    position: absolute;
    top: 85%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
}

.aboutHeader {
  margin-top: 5%;
}

.app {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  main {
      top: 75%;
  }
}

@media only screen and (max-width: 800px) {
  main {
      top: 65%;
  }
}